<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">

    <div style="display: flex; align-items: center; gap: 4vw; justify-content: center; margin-top: 10vw;">
        <a href="/auth/google" style="
            display: inline-flex;
            align-items: center;
            background-color: white;
            color: black;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
        ">
            <img src="https://imgs.search.brave.com/WFUCWSTA1WQZxQ6Bj0PpSiIS0qx9cb9e-ysxkOY4rTA/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4x/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvZ29vZ2xlLXMt/bG9nby8xNTAvR29v/Z2xlX0ljb25zLTA5/LTUxMi5wbmc" alt="Google logo" style="width: 20px; height: 20px; margin-right: 10px;">
            Login with Google
        </a>
        <a href="/auth/github" style="
            display: inline-flex;
            align-items: center;
            background-color: white;
            color: black;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
        ">
            <img src="https://imgs.search.brave.com/bB1W6ZPxkakQhzXwRtSs-0Wtm2fl7EeV8G31oQvKfuI/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWdz/LnNlYXJjaC5icmF2/ZS5jb20veXJxQW9N/UkZaVkZTSTFFdHAy/aWFmU21MaWQ0NFR0/YzdremtKeVJ6VFpJ/ay9yczpmaXQ6NTYw/OjMyMDoxOjAvZzpj/ZS9hSFIwY0hNNkx5/OWxjR2x6L2VXTm9a/UzVqYjIwdlptOXYv/ZEdWeWJXOWlMMmRw/ZEdoMS9ZaTV6ZG1j.jpeg" alt="GitHub logo" style="width: 20px; height: 20px; margin-right: 10px;">
            Login with GitHub
        </a>
    </div>
    
</body>
</html>